@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 768px) {
    .menus {
        overflow: hidden;
        height: 0;
        padding: 0;
        margin: 0;
    }

    .open {
        overflow: initial;
        height: initial;
        padding: initial;
        margin: initial;
    }
}

/* add new post drop down */
.add-new-post {
    left: 720px;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    opacity: 0;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
}

/* show drop down on hover */
.blog:hover .add-new-post {
    max-height: initial;
    padding: 1rem 1.25rem;
    opacity: 1;
}

/* image path upload */
.image-path {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.image-path input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
